/.phpunit.cache
/tests/Feature/CorsTest.php
/node_modules
/public/build
/public/hot
/public/storage
/public/images/uploads/*
!/public/images/uploads/.gitkeep
/storage/*.key
/storage/pail
/vendor
.env
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.nova
# Ignore everything in .vscode
.vscode/*
# Allow only these files
!.vscode/settings.json
!.vscode/extensions.json
/.zed
