parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc type array of property App\\Http\\Middleware\\EncryptCookies\:\:\$except is not covariant with PHPDoc type array\<int, string\> of overridden property Illuminate\\Cookie\\Middleware\\EncryptCookies\:\:\$except\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Http/Middleware/EncryptCookies.php

		-
			message: '#^PHPDoc type array of property App\\Http\\Middleware\\TrimStrings\:\:\$except is not covariant with PHPDoc type array\<int, string\> of overridden property Illuminate\\Foundation\\Http\\Middleware\\TrimStrings\:\:\$except\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Http/Middleware/TrimStrings.php

		-
			message: '#^PHPDoc type array of property App\\Http\\Middleware\\VerifyCsrfToken\:\:\$except is not covariant with PHPDoc type array\<int, string\> of overridden property Illuminate\\Foundation\\Http\\Middleware\\VerifyCsrfToken\:\:\$except\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Http/Middleware/VerifyCsrfToken.php
